.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub-cache
.fvm/
.idea/
*.iml
.vscode/

build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*

coverage/
*.log
.DS_Store
webapp/node_modules/
webapp/dist/
.env
