services:
  app:
    image: ghcr.io/Bxota/tic-tac-toe-mobile:latest
    restart: unless-stopped
    environment:
      - ADDR=:8080
      - WEB_DIR=/app/web
      - ALLOWED_ORIGINS=tictactoe.bxota.com
    networks:
      - web

  caddy:
    image: caddy:2
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - web

networks:
  web:

volumes:
  caddy_data:
  caddy_config:
